<div class="face-snap-card">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    @if (faceSnap.location) {
        <p>Localisation : {{ faceSnap.location }}</p>
    } 
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>FaceSnap créée le {{ faceSnap.createdAt }}</p>
    
   <div class="face-snap-card" [ngClass]="{ snapped: faceSnap.userHasClicked }">
    <button (click)="faceSnap.Onsnap()">oh Snap</button>
    <p>oh Snap {{ faceSnap.snaps }}</p>
   </div>
 
 </div>